// /* Destination Pages: */
@use "./partials/variables" as *;
@use "./partials/mixins" as *;

// main
main {
  padding-top: 16rem; //for fixed navbar
}
/* creates background & styling  */
.main-parent--hawaii {
  @include main-parent("../assets/images/hawaii.jpg");
}
.main-parent--iceland {
  @include main-parent("../assets/images/iceland.jpg");
}
.main-parent--greece {
  @include main-parent("../assets/images/greece.jpg");
}
// title of a destination page
.title {
  padding-left: 8rem;
  font-size: 5em;
  color: $background;
}

// Cards. reused + Itinerary activities. Font specific to destinations pages
.card {
  color: $basic; //font
  justify-content: center;
}
.card__item {
  width: 13rem;
  height: 2.9rem;
  text-align: center;
  &-title {
    padding: 1.5rem;
    border-bottom: 2px solid $basic;
    & h3 {
      padding: 0;
    }
  }
  &-text {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $secondary;
    margin-top: 1rem;
  }
}
// alternative to next 3 rules:
// .card__item-title {
//   padding: 1.5rem;
//   border-bottom: 2px solid $basic;

// .card__item-text {
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   background-color: $secondary;
//   margin-top: 1rem;
// }

// .card__item-title h3 {
//   padding: 0;
// }

// FOOTER specific to destinations pages
footer {
  padding-top: 9rem;
}
