/* Home Page - Hero Section:

The hero background color must be #FEFAF5
The text content must be left aligned
The slogan color must be #335576
The ‘Get Started’ button background color must be #DB7A4E */

/* Home Page - Recommendations Section:

The recommendations title must have the color of #335576
There will be 3 Cards, one for each destination (Iceland, Greece, Hawaii)
The destination name must be in the bottom right corner of the card
The border radius of the cards must be 5px
The border of the cards must be 1px solid black with an opacity of 20%
The box shadow of the cards must be:
Horizontal Offset: 0px
Vertical Offset: 4px
Blur: 4px
Color: Black, with an opacity of 20% */

// import vars
@use "./global.scss" as *;

// Hero
main {
  background-color: $secondary;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero {
  width: 80%;
  // height: auto; //reset it when pic is in
  background-color: $secondary;
}
.hero--left {
  width: 50%;
  padding-left: 7rem;
}
.hero--right{
  width: 50%;
  text-align: center;
}
.size {
  width: 70%;
}
button {
  width: 15rem;
  font-size: 1.16em;
  font-weight: 400;
  background-color: $highlight;
  border: 0;
  padding: 0.5rem;
  border-radius: 3rem;
  color: $background;
}
