/* main.css
Home Page - Hero Section: */

// import vars doesn't come from _global.scss, import on individual .scss pages
@use "./partials/global" as *;
@use "./partials/variables" as *;
@use "./partials/mixins" as *;

// Hero
main {
  height: 29rem;
  background-color: $secondary;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero {
  width: 80%;
  overflow: hidden;
}
.hero--left {
  width: 50%;
  position: relative;
}
.hero--right {
  width: 49vh;
  text-align: center;
  position: relative;
}
.hero--right--img-size {
  width: 100%;
}
button {
  width: 50%;
  font-size: 1.16em;
  font-weight: 400;
  background-color: $highlight;
  border: 0;
  padding: 0.5rem;
  border-radius: 3rem;
  color: $background;
  margin-left: 2rem;
}

// Recommendations
/* Home Page - Recommendations Section: */

// Card. Outside box. Here is where the shadows and borders of landing page are set, font color on main page
.card__link {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  content: "";
  text-decoration: none;
}
.card-img {
  border: 1px solid rgba($color: #000000, $alpha: 20%);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
  color: $background; // font
}
// Cards' background & titles styling
.destination__title--1 {
  @include destination__title("../assets/images/hawaii.jpg");
}
.destination__title--2 {
  @include destination__title("../assets/images/iceland.jpg");
}
.destination__title--3 {
  @include destination__title("../assets/images/greece.jpg");
}
